@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  /* wrap / header 블록요소이기에 width 100% -> 안넣어도 됨 */
  width: 1200px;
  margin: 0 auto;
  background: #f0f0f0;
}
.header {
  height: 100px;
  background: #c99e9e;
  display: flex;
  justify-content: space-between; /* header에서 무조건 사용 */
}
.logo {
  background: #72a0b3;
}
